.slidev-layout {
  @apply px-14 py-10 text-[1.1rem];
  color: var(--ctp-text);
  background-color: var(--ctp-base);
  height: 100%;

  h1, h2, h3, h4, h5, h6, p, div {
    @apply select-none;
  }

  pre, code {
    @apply select-text;
  }

  h1 {
    @apply text-6xl mb-4 font-700 -ml-[0.05em];
    color: var(--ctp-mauve);
  }
  h1 + h2 {
    @apply -mt-4;
  }

  h2 {
    @apply text-5xl mb-4 font-700;
    color: var(--ctp-teal);
  }

  h3 {
    @apply text-4xl mb-4 font-800;
    color: var(--ctp-flamingo);
  }

  h4 {
    @apply text-4xl mb-4 font-800;
    color: var(--ctp-blue);
  }
  h5 {
    @apply text-4xl mb-4 font-800;
    color: var(--ctp-peach);
  }
  h6 {
    @apply text-4xl mb-4 font-800;
    color: var(--ctp-lavender);
  }

  p {
    @apply text-2xl my-4 leading-6;
    color: var(--ctp-text);
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }

  ul {
    list-style: disc;
    @apply text-2xl mb-4;
  }

  ol {
    list-style: decimal;
  }

  li {
    @apply ml-1.1em pl-0.2em leading-1.8em;
  }

  blockquote {
    @apply text-sm px-2 py-1 rounded;
    background-color: var(--ctp-mantle);
    border-left: 4px solid var(--ctp-sapphire);
    color: var(--ctp-subtext1);
  }

  blockquote > * {
    @apply my-0;
  }

  table {
    @apply w-full;
  }

  tr {
    border-bottom: 1px solid var(--ctp-surface0);
  }

  th {
    @apply text-left font-400;
    color: var(--ctp-text);
  }

  a {
    @apply border-current border-b border-dashed;
    color: var(--ctp-sapphire);
  }

  a:hover {
    color: var(--ctp-blue);
    @apply border-solid;
  }

  td, th {
    @apply p-2 py-3;
  }

  b, strong {
    @apply font-600;
    color: var(--ctp-text);
  }

  kbd {
    @apply rounded py-0.5 px-1 text-sm font-mono;
    background-color: var(--ctp-surface0);
    border: 1px solid var(--ctp-surface1);
    border-bottom: 2px solid var(--ctp-surface1);
    color: var(--ctp-text);
  }

  img, video {
    @apply flex-1;
    object-fit: contain;
  }
}

.slidev-layout.default {
  @apply h-full v-full flex flex-col justify-start;
}

.slidev-layout.center {
  @apply h-full v-full flex flex-col justify-center items-center;
}

.slidev-layout.intro-image,
.slidev-layout.intro {
  @apply h-full;

  h1 {
    @apply text-6xl font-700 leading-20;
    color: var(--ctp-mauve);
  }

  h1 + p {
    @apply font-700 text-3xl;
    color: var(--ctp-subtext1);
  }

  blockquote {
    @apply text-xl mt-6;
  }
}

.slidev-layout.big-center {
  @apply text-center;

  h1,h2,h3 {
    @apply text-6xl font-700;
  }

  p {
    @apply text-4xl font-700;
  }
}

.slidev-layout.outline {
  > ol {
    @apply ml-6
  }

  ol {
    @apply list-decimal list-outside text-4xl leading-tight;

    > li {
      @apply relative transition-opacity transition-transform duration-200 ease-in-out;

      /* Upcoming item = contains a bold */
      &:has(> strong),
      &:has(> p > strong) {
        &::marker, > strong, > p > strong {
          @apply opacity-100 font-extrabold translate-x-1;
        }

        &::before {
          content: '→';
          @apply absolute -left-20 font-extrabold text-primary;
        }
      }

      > ol {
        list-style-type: lower-latin;

      }
    }

    /* If there is at least one bolded item, dim the rest */
    &:has(> li > strong),
    &:has(> li > p > strong),
    &:has(> li > ol > li > strong),
    &:has(> li > ol > li > p > strong),
    {
      > li {
        @apply opacity-50;
      }
      > li:has(> strong),
      > li:has(> p > strong),
      > li:has(> ol > li > strong),
      > li:has(> ol > li > p > strong) {
        @apply opacity-100;
      }
    }
  }
}
